body{
  font-family: arial;
}
img{
  max-width: 100%;
  height: auto;
}
.wrap{
  width: 100%;
  min-height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
}
.feed{
  width: 600px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 10px 20px;
  background: #fff;
}

.post__title{
  font-size: 2rem;
  font-weight: 800;
}

.post__image img {
  height: 256px;
}

.advert{
  color: red;
  text-decoration: underline;
}
.Advertisment{
  border: 1px solid red;
  padding: 5px;
  margin-top: 10px;
}

.popup{
  display: block;
  opacity: 0;
  position: fixed;
  z-index: -99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0);
  transition: all ease 1s;
}

.popupContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  background-color: green;
  margin: 10% auto;
  padding: 15px;
  width: 30%;
  min-width: 300px;
  border-radius: 4px;   
}
